
@{
    var user = Session.GetCurrentUser();
    var randomStr = DateTime.Now.ToString().ToLower().Replace(":", "").Replace("pm", "").Replace("am", "");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>@ViewData["Title"] | CSF Nigeria</title>


    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/select2.min.js"></script>
    <!-- Summernote JS -->
    <script src="~/plugins/summernote/dist/summernote.js"></script>
    <script src="~/plugins/summernote/dist/summernote-bs4.min.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/CSF/assets/vendor/aos/aos.js"></script>
    <script src="~/CSF/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/CSF/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/CSF/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/CSF/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/CSF/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/CSF/assets/js/main.js"></script>
    <!-- Custom JS -->
    <script src="~/js/Csf.js?v=@randomStr"></script>

    <script src="~/js/app.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/CSF LOGO EXTRACT 1.png">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/line-awesome.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet">
    <link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/plugins/summernote/dist/summernote-bs4.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <script>

        function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#00A7EF",
                timer: 30000,
            })
        }

        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
                confirmButtonColor: "#00A7EF",
            })
        }

        function infoAlertWithStyles(message) {
            Swal.fire({
                title: 'Notification',
                icon: 'info',
                text: message,
            })
        }

        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
                confirmButtonColor: "#00A7EF",
                timer: 30000,
            })
        }

        function newErrorAlert(message, url) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#00A7EF",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function newSuccessAlert(message, url) {
            Swal.fire({
                icon: 'success',
                text: message,
                confirmButtonColor: "#00A7EF",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function successAlertWithRedirect(message, url) {
            Swal.fire({
                title: "Success",
                text: message,
                icon: "success",
                timer: 30000,
                confirmButtonColor: "#00A7EF",
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
            }).then(function () {

                location.href = url;
            })
        }

        function errorAlertwithTwoButtons(yesUrl, noUrl, newUrl, errorTitle) {
            Swal.fire({
                title: errorTitle,
                text: "",
                icon: "error",
                buttons: {
                    cancle: "No",
                    confirmButtonColor: "#00A7EF",
                    change: "Yes",
                    new: "Create Pin",
                },
            })
                .then((status) => {
                    debugger;
                    switch (status) {
                        case "change":
                            location.href = yesUrl;
                            break;
                        case "new":
                            location.href = newUrl;
                            break;
                        default:
                            location.href = noUrl;
                    }
                });
        }

        function SweeTest(yesUrl, noUrl) {
            Swal.fire({
                title: "Unverified E-mail Address",
                text: "Check your inbox Or Change email",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#00A7EF",
                confirmButtonText: "Change my email address",
                cancelButtonText: "No, I'll check my inbox",
                closeOnConfirm: false,
                closeOnCancel: false
            })
                .then((result) => {
                    debugger
                    if (result.isConfirmed) {
                        location.href = yesUrl
                    }
                    else {
                        location.href = noUrl
                    }

                });
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Loader -->
        <div id="loader-wrapper">
            <div id="loader">
                <div class="loader-ellips">
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                    <span class="loader-ellips__dot"></span>
                </div>
            </div>
        </div>
        <!-- /Loader -->
        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/Images/CSF LOGO EXTRACT 1.png" width="50" height="50" alt="">
                </a>
            </div>
            <!-- /Logo -->

            <a id="toggle_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <!-- Header Title -->
            <div class="page-title-box">
                <h3>CSF NIGERIA</h3>
            </div>
            <!-- /Header Title -->

            <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

            <!-- Header Menu -->
            <ul class="nav user-menu">
                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img src="@user?.ProfilePicture" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>@user?.FullName</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="User" asp-action="UserProfile" asp-route-userId="@user?.Id">My Profile</a>
                        <form asp-action="LogOut" asp-controller="Account" method="post">
                            <button class="dropdown-item">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
            <!-- /Header Menu -->
            <!-- Mobile Menu -->
            <div class="dropdown mobile-user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-controller="User" asp-action="UserProfile" asp-route-userId="@user?.Id">My Profile</a>
                    <form asp-action="LogOut" asp-controller="Account" method="post">
                        <button class="dropdown-item">Logout</button>
                    </form>
                </div>
            </div>
            <!-- /Mobile Menu -->

        </div>
        <!-- /Header -->
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="User" asp-action="Index">Dashboard</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">
                             <span>Activities</span>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="Photos"><i class="la la-picture-o"></i> <span> Photo Gallery</span></a>
                        </li>

                        <li>
                            <a asp-controller="Blog" asp-action="Index"><i class="la la-file-text"></i> <span>Blogs</span></a>
                        </li>

                        <li>
                            <a asp-controller="User" asp-action="AllEvent"><i class="la la-money"></i> <span>Events</span></a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="SemesterManual"><i class="la la-user-secret"></i> <span>Semester Manual</span></a>
                        </li>
                        <li class="menu-title">
                            <span>Performance</span>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="AllDues"><i class="la la-user-secret"></i> <span>Dues</span></a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="Document"><i class="la la-user-secret"></i> <span>Documents</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->
    </div>
    <!-- /Main Wrapper -->

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>