@model Core.ViewModels.PasswordChangeViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Main Wrapper -->
<div class="main-wrapper" style="padding-top:100px;">
    <div class="account-content">
        <div class="container">

            <div class="account-box">
                <div class="account-wrapper">

                    <h3 class="account-title">Change Password</h3>
                    <p class="account-subtitle">Enter a unique password</p>

                    <div class="form-group">
                        <label>Old password</label>
                        <input type="password" id="oldPassword" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>New password</label>
                        <input type="password" id="newPassword" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Confirm password</label>
                        <input type="password" id="confirmNewPassword" class="form-control">
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-primary submit-btn" onclick="UpdatePassword()">Update Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->