@model Core.ViewModels.PasswordResetViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Wrapper -->
<div class="main-wrapper" style="padding-top:100px;">

    <div class="account-content">
        <div class="container">

            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">Reset Password</h3>
                    <p class="account-subtitle">Enter a new Password</p>

                    <!-- Account Form -->
                    @if (Model != null)
                    {
                        @Html.HiddenFor(t => t.Token, new { @id = "token" });
                    }
                    <div class="form-group">
                        <label>New Password</label>
                        <input class="form-control" type="text" id="newPassword">
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input class="form-control" type="text" id="comfirmNewPassword">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary account-btn" type="submit" onclick="ResetPassword()">Set Password</button>
                    </div>
                    <!-- /Account Form -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->
